.agenda{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}
.card{
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid rgb(148, 148, 148);
    width: 90%;
    box-shadow: 3px 5px 3px black;
}
.card strong{
    margin-left: 200px;
}

.formularioAdd{
    font-size: larger;
    font-weight: 900;
    justify-content: center;
    max-width: 150px;
    display: flex;
    margin: 0 auto;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}